* {
	padding: 0;
	margin: 0;
}

@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #f6f8fa;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: -1px -1px;
	background-repeat: repeat-x;
	background-size: 110% 110%;
	border: 1px solid rgba(27, 31, 35, 0.2);
	border-radius: .25rem;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 12px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}
.button:focus {
	outline: 0;
}

.button-primary,
.button-primary:hover {
	background-color: #269f42;
	background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
	background-position: -.5em;
	border-color: rgba(27, 31, 35, 0.5);
	color: #fff;
}

.button:disabled {
	opacity: .8;
	cursor: not-allowed;
}

.main-header {
	background-color: #24292e;
	color: rgba(255, 255, 255, 0.7);
	line-height: 1.5;
	padding: 16px;
	z-index: 32;
	position: fixed;
	width: 100%;
	top: 0;
}

.search-component {
	display: flex;
}
.search-component__brand img {
	width: 80px;
}

.search-box {
	padding-left: 2rem;
	width: 100%;
	display: inline-flex;
}
.search-box__input {
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0.125);
	padding: .55rem .25rem;
	border-radius: .25rem;
	color: #fff;
}
.search-box__input:focus {
	outline: 0;
}

.list-repositories {
	margin: 2rem 0;
    padding-top: 3rem;
    width: 100%;
}

.repos {
	margin: 2rem 0;
}

.repo {
	padding: 1rem 0;
	line-height: 1.6;
	color: #586069;
	border-bottom: 1px solid #eee;
}
.repo__header {
	display: flex;
	justify-content: space-between;
}

.repo__title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #0366d6;
	cursor: pointer;
}

.repo__title:hover {
	text-decoration: underline;
}

.is-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 50%;
	padding: 1em;
	margin: 3rem auto;
	background-color: #fff;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	line-height: 2.5;
}

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 50%;
	margin: 0px auto;
	border-radius: .25rem;
	background-color: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}


.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
	border: 0;
	background: transparent;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 1rem;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	text-align: left;
	padding: 8px;
}

.repo-modal-header {
	background-color: #f0f4f7;
	padding: 20px 30px;
}

.repo-modal-title {
	font-weight: bold;
	font-size: 1.5rem;
	color: #5f666f;
	line-height: 1.6;
}
.repo-modal-fullname {
	font-size: .98rem;
	color: #a5aaae;
	line-height: 1.3;
}

.author {
	padding: 20px 30px;
}

.author-img {
	width: 30px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: .80rem;
}

.author-name {
	font-weight: bold;
	font-size: 1.3rem;
	margin-left: 1rem;
}

.author-key {
	color: #a5aaae;
}
.author-info {
	display: flex;
	align-items: center;
	color: #5f666f;
	font-weight: bold;
}

.button-more {
	background: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    color: #0366d6;
    font-weight: 600;
    margin-top: 20px;
    padding: 6px;
	width: 100%;
	margin-bottom: 3rem;
}

.panel-commits {
	height: 140px;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid #e1e4e8; 
	border-radius: .25rem;
	margin: 2rem 0;
}

.list-commits {
	color: #24292e;
	list-style-type: none;
}

.list-commits li {
	padding: 1rem;
	border-bottom: 1px solid #e1e4e8; 
}