.list-repositories {
	margin: 2rem 0;
    padding-top: 3rem;
    width: 100%;
}

.is-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 50%;
	padding: 1em;
	margin: 3rem auto;
	background-color: #fff;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	line-height: 2.5;
}
