.main-header {
	background-color: #24292e;
	color: rgba(255, 255, 255, 0.7);
	line-height: 1.5;
	padding: 16px;
	z-index: 32;
	position: fixed;
	width: 100%;
	top: 0;
}

.search-component {
    display: flex;
    &__brand img {
        width: 80px;
    }
}

.search-box {
	padding-left: 2rem;
	width: 100%;
    display: inline-flex;
    &__input {
        width: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0.125);
        padding: .55rem .25rem;
        border-radius: .25rem;
        color: #fff;
        &:focus {
            outline: 0;
        }
    }
}