* {
	padding: 0;
	margin: 0;
}

@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #f6f8fa;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}
